<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/bower_components/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">309 Chat Room</a>

    <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/chat">Chat</a></li>
    </ul>
</div>